/* EXTERNAL LINKS */

/* ///// UNIVERSAL ///// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /////type selectors ////// */
body {
  background-color: rgb(8, 8, 8);
}

nav {
  display: flex;
  border: 1px solid red;
  align-items: center;
  justify-content: center;
  width: 50%;
}

h1 {
  font-family: monospace;
  font-size: 3em;
}

/* ///// Classes////// */

.container-centered {
  display: flex;
  border: 1px solid yellow;
  align-items: center;
  justify-content: center;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px greenyellow solid;
}

.logo {
  margin: 1em;
  height: 100px;
  width: 300px;
}

.mast {
  display: flex;
  height: 150px;
  width: 100%;
  background-color: rgb(8, 8, 8);
  border: 1px solid purple;
  border-bottom: 3px solid white;
  justify-content: space-between;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: monospace;
  font-size: 1.5em;
}

h1 {
  color: white;
}
